body{
    text-align: center;
    background-color: #9e76be;
    margin: 0px;
    }

.logo {
    float: right;
    width: 11%;
    border-radius: 50%;
    margin: 5px;
    background-color:#000000;
}

@media (max-width: 576px) {
    .logo{
        width: 18%;
    }
}

.container {
    overflow: hidden;
    display: inline-block;
    width: 100%;
}

@media (max-width: 576px) {
    .container{
    overflow: hidden;
    margin-top: 10px;
    margin-bottom: 10px;
    }
}

#input {
    background-color: #b5aaac;
    border: solid #252F31;
    height: 57px;
    font-size: 37px;
    width: 31%;
    margin-right: 10px;
    text-align: center;
    border-radius: 11px;
    font-weight: bold;
    cursor: auto;
}

@media (max-width: 576px) {
    #input{
        height: 27px;
        font-size: 16px;
        width: 25%;
    }
}

#currency{
    background-color: #b5aaac;
    border: solid #252F31;
    height: 65px;
    font-size: 37px;
    width: 24%;
    text-align: center;
    cursor: pointer;
    border-radius: 11px;
    font-weight: bold;
}

@media (max-width: 576px) {
    #currency{
        height: 35px;
        font-size: 16px;
        width: 25%;
    }
}

#button{
    background-color: #b5aaac;
    border: solid #252F31;
    height: 65px;
    font-size: 37px;
    width: 15%;
    text-align: center;
    cursor: pointer;
    border-radius: 24px;
    font-weight: bold;
    margin-left: 15px;
    }

@media (max-width: 576px) {
    #input,#currency,#button{
        height: 35px;
        font-size: 16px;
        width: 25%;
    }
}

#div{
    border: solid #252F31;
    display: inline-block;
    font-size: 50px;
    background: #b5aaac;
    padding: 2px;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 12px;
    height: 61px;
    width: 70%;
    cursor: none;
    border-radius: 25px;
    font-weight: bold;
}

@media (max-width: 576px) {
    #div{ 
        font-size: 20px;
        margin: 6px;
        height: 23px;
        width: 70%;
        border-radius: 18px;
    } 
}

/* Start Contact Me */

.contact {
    background-color: #000000;
    overflow: hidden;
    padding-bottom: 30px;
}

.contact .info {width: 50%;margin-right: 5%;}

.contact h2 {color: #FFF;margin-left:40px;}

@media (max-width: 576px) {
    .contact h2 {
        font-size: large;
    }
}

.contact p {color: #cccc;margin-left:40px;}

.contact p strong {color:#d1d6da;}

.contact .form {width: 45%;margin-top: 58px;}

.contact .form label {display: block;color: #FFF;margin: 10px 0;}

.contact .form input[type="text"] {
    background-color: #CCCC;
    color: #FFF;
    padding: 10px;
    border: 0;
    width: 89%;
    margin: 10px;
    border-radius: 5px;
}

@media (max-width: 576px) {
.contact .form input[type="text"] {
    width: auto;
    }
}

.contact .form textarea {
    background-color: #CCCC;
    color: #FFF;
    padding: 10px;
    border: 0;
    width: 89%;
    margin-bottom: 10px;
    margin-top: 10px;
    height: 170px;
    border-radius: 5px;
}

@media (max-width: 576px) {
.contact .form textarea {
    height: 90px;
    width: 169px;
    }
}

.contact .form input[type="submit"] {
    background-color: #CCCC;
    color: #FFF;
    font-size: large;
    padding: 10px 20px;
    border: 0;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 15px;
}

@media (max-width: 576px) {
    .contact .form input[type="submit"] {
        font-size: small;
    }
}

/* End Contact Me */

/* Start footer */

.footer {
    background-color: #331f40;
    color: #ccc;
    padding: 8px;
}

.footer ul {list-style: none;padding-left: 0;margin: 10px 0 0;}

.footer ul li {display: inline-block;}

.footer .fab {
    cursor: pointer;
}

@media (max-width: 576px) {
    .footer .fab {
        font-size: x-large;
    }
}

/* Start footer */

/* Start My Framework */

.my-button {
    background: none;
    border: 3px solid #2dcc70;
    padding:10px 30px ;
    color: #2dcc70;
    font-weight: bold;
}

.fl-left {float: left;} /* Floating Element Left */

p {line-height: 1.7;color: #888;}

h2, h3 {color:#777;}

.text-c {text-align: center;}

/* End My Framework */